body{
    background-image: url("/img/jakob-braun-vpsPRd_rz-A-unsplash.jpeg");
    background-size: cover;
}
#scoring,
#score {
    padding-top: 2rem;
}
#video{
    button{
    }
    video{
        width: 100%;
        max-height: 50vh;
    }
}
